<!-- main app container -->
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h3>Booking Form</h3>
            <p class="msg_success">{{ msg }}</p>
            <div class="registration" *ngIf="show">

            <form [formGroup]="bookingForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label>To Location</label>
                    <input type="text" formControlName="source" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.source.errors }" />
                    <div *ngIf="submitted && f.source.errors" class="invalid-feedback">
                        <div *ngIf="f.source.errors.required">Source Point is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <label>From Location</label>
                    <input type="text" formControlName="destination" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.destination.errors }" />
                    <div *ngIf="submitted && f.destination.errors" class="invalid-feedback">
                        <div *ngIf="f.destination.errors.required">Destination Point is required</div>
                    </div>
                </div>
                
                <div class="form-group">
                        <label>Departure Date</label>
                        <!-- <ng-datepicker [(ngModel)]="date" /> -->
                        <mat-form-field>
                                <input type="text" formControlName="departuredate" matInput [matDatepicker]="myDatepicker" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.departuredate.errors }" >
                                <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
                                <mat-datepicker #myDatepicker></mat-datepicker>
                              </mat-form-field>
                        <!-- <input  formControlName="departuredate" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.departuredate.errors }" /> -->
                        <div *ngIf="submitted && f.departuredate.errors" class="invalid-feedback">
                            <div *ngIf="f.departuredate.errors.required">Departure Date is required</div>
                             </div>
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                        <div *ngIf="f.email.errors.required">Email is required</div>
                         </div>
                </div>
                <div class="form-group">
                    <label>Mobile Number</label>
                    <input type="text" formControlName="mobile" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.mobile.errors }" />
                    <div *ngIf="submitted && f.mobile.errors" class="invalid-feedback">
                        <div *ngIf="f.mobile.errors.required">Mobile Number is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary">Register</button>
                </div>
            </form>
            </div>
        </div>
    </div>
</div>